<div class="container my-4">
  <h1>Editing <em>Walker</em></h1>

  <div class="mt-3">
    <%= simple_form_for @walker do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <div class="form-actions">
        <%= link_to "Back", walkers_path, class: "btn btn-outline-secondary" %>
        <%= f.submit "Update!", class: "btn btn-normal" %>
      </div>
    <% end %>
  </div>
</div>
