
<%# TODO: Add photos to the loop and models/migration maybe make it a carousel?? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/732679/screenshots/4108024/media/265200356b3e3340223e7c747db1c160.gif);">
  <div class="container-banner text-center">
    <h1>ALL THE WALKERS AROUND YOU</strong>!</h1>
    <p>Find the right walker to your pet.</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-6 my-3">
    <%= form_with url: walkers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn-normal-search" %>
    <% end %>
  </div>
</div>

<div class="home-container mt-2">
  <div class="row gap-4 justify-content-center m-auto">
    <% @nearby.each do |walker| %>
      <div class="col col-3">
        <div class="card">
          <% if walker.photos.any? %>
            <%= cl_image_tag walker.photos.first.key, class: "card-img" %>
          <% else %>
            <%= image_tag('Placeholder.png', class: "card-img") %>
          <% end %>
          <div class="card-body">
            <p><%= link_to "#{walker.first_name} #{walker.last_name}", walker_path(walker), class: "text-decoration-none walker-name" %></p>
            <%= link_to "Details", walker_path(walker), class: "btn btn-normal"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
