
<%# TODO: Add photos to the loop and models/migration maybe make it a carousel?? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/732679/screenshots/4108024/media/265200356b3e3340223e7c747db1c160.gif);">
  <div class="container-banner text-center">
    <h1>ALL THE WALKERS AROUND YOU</strong>!</h1>
    <p>Find the right walker to your pet.</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: walkers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn-normal-search" %>
    <% end %>
  </div>
</div>
<div class="home-container">
  <div class="walker-cards">
    <% @nearby.each do |walker| %>
      <div class="walker-card-info m-4">
        <% if walker.photos.any? %>
          <%= cl_image_tag walker.photos.first.key, class: "walker-image" %>
        <% else %>
          <%= image_tag('Placeholder.png', class: "walker-image") %>
        <% end %>
        <p><%= link_to "#{walker.first_name} #{walker.last_name} - #{walker.phone_number}", walker_path(walker), class: "text-decoration-none walker-name" %></p>
      </div>
    <% end %>
  </div>
</div>