

<div class="walker-profile d-flex justify-content-around">

  <div class="">
    <div class="images-container d-flex justify-content-between mb-4 gap-3">
      <%# TODO: for each photo display here (maximum 4 photos) with option to see all photos %>
      <%= image_tag('logo.png', class: "walker-image") %>
      <%= image_tag('logo.png', class: "walker-image") %>
      <%= image_tag('logo.png', class: "walker-image") %>
      <%= image_tag('logo.png', class: "walker-image") %>
    </div>

    <div class="walker-info text-center mx-auto" >
        <h4 class="fw-bold"><%= "#{@walker.first_name} #{@walker.last_name}" %></h4>
        <p>Portugal, Sintra</p>
        <%# <p> TODO: add walker location to table</p> %>
        <%# <p> TODO: add a walker small description</p> %>
        <div class="walker-description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugit enim eos fugiat necessitatibus voluptates ipsam totam,
          omnis ratione ex saepe eligendi sequi accusamus quo molestias praesentium,
          dignissimos incidunt magni nostrum?</p>
        </div>
        <%# <p> TODO: add walker usual routes</p> %>
        <div class="calendar">
        <%# TODO: add calendar %>
          <p>Calendar PlaceHolder</p>
        </div>
        <%# TODO: add form to redirect to checkout %>
      </div>
  </div>

  <div class="d-flex flex-column justify-content-end">
    <div class="checkout-form" style="height: 20vh">
      <p>Placeholder for form</p>
    </div>
    <div>
      <%= link_to "Edit profile", edit_walker_path(@walker), class: "btn btn-normal" %>

      <%= link_to "Back", walkers_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

</div>
