<div class="walker-profile d-flex justify-content-around mx-auto">

  <div class="">

     <div class="image-container image-height col">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-inner">
            <% @walker.photos.each do |photo|%>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


      <div class="walker-info text-center" >
          <h4 class="fw-bold"><%= "#{@walker.first_name} #{@walker.last_name}" %></h4>
          <p><%= @walker.address %></p>
          <%# <p> TODO: add walker location to table</p> %>
          <%# <p> TODO: add a walker small description</p> %>
          <div class="walker-description">
            <p><%=  @walker.description %></p>
          </div>
          <%# <p> TODO: add walker usual routes</p> %>

          <%# TODO: add form to redirect to checkout %>

      </div>
      <%# TODO: add form to redirect to checkout %>
    </div>
    <div class="checkout-form col text-center">
      <%# <p>Placeholder for form</p> %>
      <%= render 'bookings/booking_form' %>
    </div>
  </div>

</div>
