<div class="user-container d-flex justify-content-center mt-4">
  <div class="user-card d-flex text-center p-3">
    <div class="user-image">
      <%= image_tag('green-profilepic.png', class: "w-25")  %>
    </div>
    <h2><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
    <div class="user-info">
        <p><strong><%= "Phone number :" %></strong> <%= @user.phone_number %></p>
        <p><strong>Address :</strong> <%= @user.address %></p>
        <p><strong><%= "Email :" %></strong> <%= @user.email %></p>
        <% if @user.company_name != nil %>
          <p><strong>Company name :</strong> <%= @user.company_name  %></p>
        <% end %>
    </div>
  </div>
</div>
