
<div class="user-container">
  <a href="#" class="user-pic" id="change-profile-pic" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag('green-profilepic.png', class: "user-image", alt: "dropdown menu")  %>
  </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profilepicDropdown">
      <%= link_to "change profile picture", walkers_path, class: "dropdown-item" %>
    </div>
  <div class="user-card">
    <div class="user-info">
      <div class="first-and-last-name">
        <h2><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>
      </div>
      <div class="conteudo">
        <p><strong><%= "Phone number :" %></strong> <%= @user.phone_number %></p>
        <p><strong><%= "Email :" %></strong> <%= @user.email %></p>
        <% if @user.company_name != nil %>
          <p><strong>Company name :</strong> <%= @user.company_name  %></p>
        <% end %>
      </div>
    </div>
  </div>
  <p><%= link_to "back to Home", walkers_path, class: "link-to-home" %></p>
</div>
